<nav  class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.iconscout.com/icon/free/png-256/free-home-loan-1795427-1522793.png" width="30" height="30" class="d-inline-block align-top" alt="">
      LifeEasy<br>Home Loan
    </a>
    
        <a class="nav-link" href="#"><img src="https://cdn-icons-png.flaticon.com/512/5062/5062832.png" width="50" height="50" class="d-inline-block align-centre" alt=""> Our Services</a>
        <a class="nav-link" href="#"><img src="https://i.pinimg.com/originals/a7/f2/b2/a7f2b2c622726633c316b36bd1fcf064.png" width="40" height="40" class="d-inline-block align-centre" alt="">EMI Calculator </a>
        <a class="nav-link" href="#"><img src="https://static.thenounproject.com/png/3407968-200.png" width="40" height="40" class="d-inline-block align-centre" alt="">Enquiry </a>
        <a class="nav-link" href="#"><img src="https://static.thenounproject.com/png/4181324-200.png" width="40" height="40" class="d-inline-block align-centre" alt="">About Us </a>
        <a class="nav-link" href="#"><img src="https://cdn-icons-png.flaticon.com/512/3095/3095583.png" width="40" height="40" class="d-inline-block align-centre" alt="">Contact</a>
        <a class="nav-link" href="#"><img src="https://cutewallpaper.org/24/login-icon-png/login-amp-register-vector-user-icon-png-transparent-png-vhv.png" width="40" height="40" class="d-inline-block align-centre" alt="">Login</a>
  </nav>
  
<!-- 


  <div style="background-color: azure;" >

    <div class="content mb-md-0 mb-5">
        <p class="h2">The Simple online home Loan</p>
        <p>Get closer to owning your dream home with our hassle-free home loan application process. Our user-friendly platform makes it easy for you to apply for a home loan and take the first step towards your homeownership journey.</p>

    </div>
   
    
    
  </div> -->
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>